<fieldset class="values between">
    <label class="control input text">
        <input class="" type="text" value="{{-value[0]}}">
        <span data-validation-field="value__1" class="message warning"></span>
    </label>
    <div class="compare">{{= i18n.ADH_DYNAMIC_FILTER_AND }}</div>
    <label class="control input text">
        <input class="" type="text" value="{{-value[1]}}">
        <span data-validation-field="value__2" class="message warning"></span>
    </label>
    <span data-validation-field="value" class="message warning"></span>
</fieldset>
