<div class="section measureNameSection">
    <div class="group noIndent">
        <label class="control input">
            <span class="wrap"> </span>
            <input type="text" class="fieldLabelInput" value=""/>
            <span class="message warning" data-field="fieldLabel"> </span>
        </label>
    </div>
</div>

<div class="section">
    <div class="content tabbed">

        <div class="header">
            <ul class="control tabSet reverse buttons horizontal ">
                <li tabid="" class="tab formulaBuilderTab first selected">
                    <a class="button">
                        <span class="wrap">{{= i18n.ADH_405_FORMULA_BUILDER }}</span>
                    </a>
                </li>
                <li tabid="" class="tab summaryCalcTab">
                    <a class="button">
                        <span class="wrap">{{= i18n.ADH_405_SUMMARY_CALCULATION }}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="body section formulaBuilderSection noTitle"> </div>

        <div class="body section summaryCalcSection noTitle hidden"> </div>

    </div>
</div>
