<li class="workflow">
    <div class="workflow-container">
        <div class="workflow-icon-{{- name.toLowerCase() }}"></div>
        <h2 class="workflow-title">{{- label }}</h2>
        <p class="workflow-description">{{- description }}
            {{ if (tutorialControl) { }}
                <a href="{{- tutorialControl.entity.url }}" target="_blank" >
                    {{- tutorialControl.label }}
                </a>
            {{ } }}
        </p>
    </div>
    <div class="workflow-buttonContainer">

        {{ if (leftControl) { }}
            <button class="button left" >
                {{- leftControl.label }}
            </button>
        {{ } }}

        {{ if (rightControl) { }}
            <button class="button right" >
                {{- rightControl.label }}
            </button>
        {{ } }}

    </div>
</li>