<li class="leaf filter">
    <div class="panel pane filter {{ print(filterPodMinimized ? 'minimized' : ''); }}">
        <div class="content">
            <div class="header">
                <div class="title">
                    <div class="filterName">
                        <div class="button disclosure noBubble"></div>
                        <span title="{{=filterLetter}}.{{-label}}">{{=filterLetter}}.{{-label}}</span>
                    </div>
                    <div class="button mutton">
                        <span class="icon"></span>
                    </div>
                </div>
            </div>
            <div class="body ">
                <fieldset>
                    {{ if (isComplex) { }}
                    <ul class="message">
                        {{ _.each(variableNames, function(value) { }}
                        <li>{{=value}}</li>
                        {{ }); }}
                    </ul>
                    <p class="message">{{= i18n.ADH_1215_DYNAMIC_FILTER_ADVANCED_INFO }}</p>
                    {{ } else { }}
                    <p class="message">{{=filter.expressionAsString}}</p>
                    <p class="message">{{= i18n.ADH_1215_DYNAMIC_FILTER_UNEDITABLE_INFO }}</p>
                    {{ } }}
                </fieldset>
            </div>
        </div>
    </div>
</li>